@import '../../common_projects_utilities/css/reset';

/* VARIABLES */
/* Fonts */
$roboto: 'Roboto', sans-serif;
$dark-color: #000;
$light-color: #fff;


/* GENERAL */
body {
    font-family: $roboto;
    color: $dark-color;
}

/* COMMON */
.block {display: block;}

.btn {
    box-sizing: border-box;
    height: 32px;
    padding: 8px 0;
    text-align: center;
    box-shadow: 1px 2px 5px 0 rgba(197,197,197,.5);
    border: 0;
    border-radius: 2px;
    background: $light-color;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: #000000;
    margin-bottom: 16px;
    &:focus {outline: none;}
    &--year, &--dif {
        margin-bottom: 8px;
        font-weight: 500;
        width: 71px;
    }
    &--position {width: 138px;}
    &--party {
        width: 32%;
        span {
            position: relative;
            padding-left: 15px;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 11px;
                height: 11px;
                border-radius: 50%;
            }
        }
    }
    &--psoe {
        span::before {background: #ea5458}
    }
    &--vox {
        span::before {background: #77be2d}
    }
    &--masmadrid {
        span::before {background: #20c0b2}
    }
    &--pp {
        span::before {background: #48aafd}
    }
    &--cs {
        span::before {background: #f45a09}
    }
    &--podemos {
        span::before {background: #692772}
    }
    &--active {
        background: $dark-color;
        color: $light-color;
        font-weight: bold;
    }
    &--hidden {
        opacity: 0;
        visibility: hidden;
    }

    span {
        pointer-events: none;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 65px;
    height: 20px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
        
    .slider:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 0.25px;
        bottom: 0px;
        background-color: #000;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #c4c4c4;
    }
      
    input:focus + .slider {
        box-shadow: 0 0 1px #c4c4c4;
    }
    
    input:checked + .slider:before {
        -webkit-transform: translateX(45px);
        -ms-transform: translateX(45px);
        transform: translateX(45px);
    }
      
    /* Rounded sliders */
    .slider.round {
        border-radius: 32px;
    }
    
    .slider.round:before {
        border-radius: 50%;
    }
}

/* WIDGET */
.widget {
    width: 100%;
    max-width: 640px;
    height: 766px;
    box-sizing: border-box;
    padding: 3.5px 0;
    margin: 0 auto;
}

/* Title */
.title {
    font-weight: 900;
    font-size: 18px;
    line-height: 1;
    padding-bottom: 7px;
    margin-bottom: 16px;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 50px;
        height: 1px;
        background: $dark-color;
    }
}

/* Buscador */
.autocomplete {
    position: relative;
    background: url(https://www.ecestaticos.com/file/834ce689c803cfe259efaffe7623c77a/1613122512-icono-lupa.svg)no-repeat 9px 7px;
    background-size: 18px;
    &::before {
        content: '';
        position: absolute;
        left: 42px;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 16px;
        background: $dark-color;

    }
    input {
        box-sizing: border-box;
        width: 100%;
        height: 32px; 
        border: 1px solid #121212;
        border-radius: 2px;
        padding: 2px 0 2px 50px;
        font-weight: 400;
        font-size: 15px;
        line-height: 1.87;
        color: #828282;  
        background: transparent;
        &::placeholder {color: #828282;}      
    }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
        cursor: pointer;

        width: calc(100% - 2.5px);
    }

    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;        
    }

    .autocomplete-items div:hover {
        /*when hovering an item:*/
        background-color: #e9e9e9;
    }
    
    .autocomplete-active {
        /*when navigating through the items using the arrow keys:*/
        background-color: DodgerBlue !important;
        color: #ffffff;
    }

    #deleteInput {
        box-sizing: border-box;

        //Posición
        position: absolute;
        width: auto;
        height: 26px;

        top: 50%;
        transform: translateY(-50%);
        right: 3px;

        //Theme del span        
        padding: 4px 11px 4px 11px;
        border-radius: 2px;
        box-shadow: 1px 2px 5px 0 rgba(197,197,197,.5);
        background-color: $dark-color;
        cursor: pointer;

        //Texto
        font-weight: 700;
        font-size: 15px;
        color: $light-color;

        span {
            pointer-events: none;
        }

        &.disabled {
            opacity: 0.1;
            border-radius: 2px;
            box-shadow: 1px 2px 5px 0 rgba(197, 197, 197, 0.5);
            background-color: #000000;

            color: #fff;
            
            pointer-events: none;
            cursor: initial;
        }
    }
}

/* Mapa */
#map {
    position: relative;
    width: 100%;
    height: 350px;        
    margin-top: 24px;
    background: rgba(#d7d7d7,.2);
    overflow: hidden;
    path {cursor: pointer;}
}

.map-filters {
    position: absolute;
    right: 16px;
    bottom: 16px;
    &--legend {
        padding: 8px;
        background: rgba(#f6f6f6,.9);
        box-sizing: border-box;
    }
    &__item {
        display: flex;
        flex-direction: column;

        display: none;
    }

    &--active {
        display: flex !important;
    }

    //Nuevo diseño para elementos del switch
    .switch-filter__labels {
        display: flex;
        justify-content: space-between;

        font-size: 12px;
        font-weight: 500;
        color: #000000;

        margin-bottom: 4px;
    }
}

//Leyenda > Bloque político
.legend {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &:first-child {margin-bottom: 8px;}
    &__label {
        font-weight: 500;
        font-size: 12px;
        margin-right: 8px;
    }
    &__icon {
        width: 11px;
        height: 11px;
        &--izquierda {background: #fbdd49}
        &--derecha {background: #515151}
    }
}

.map-info {
    position: absolute;
    right: 16px;
    top: 16px;

    display: none;

    &--active {
        display: initial;
    }
}

.gradient-box {
    box-sizing: border-box;
    height: 221px;
    padding: 8px;
    background: rgba(#f6f6f6,.9);
    display: flex;
    
    &__labels {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 8px;
        height: 100%;
    }
    &__label {
        font-weight: 500;
        font-size: 12px;
    }
    &__value {
        width: 8px;
        height: 100%;
        &--psoe {background: linear-gradient(#ea5458, rgba(#ea5458,0));}
        &--vox {background: linear-gradient(#77be2d, rgba(#77be2d,0));}
        &--masmadrid {background: linear-gradient(#20c0b2, rgba(#20c0b2,0));}
        &--pp {background: linear-gradient(#48aafd, rgba(#48aafd,0));}
        &--cs {background: linear-gradient(#f45a09, rgba(#f45a09,0));}
        &--podemos {background: linear-gradient(#692772, rgba(#692772,0));}

        &--participacion {background: linear-gradient(#0a202f, #e2f3fa);}
        &--diferencias-2019 {background: linear-gradient(#2e6b77, #f1f0ea, #f08e89);}

        &--bloque-ganador {background: linear-gradient(#e2c32a, #f1f0ea, #3c4554);}
    }
}

/* Filtros */
//Veremos si se reutiliza en ambas
.section {
    &__title {
        font-weight: 500;
        font-size: 15px;
        padding-bottom: 7px;
        border-bottom: 1px dotted rgba(0,0,0,.4);
        margin-bottom: 16px;
    }
    &__filters {
        margin: 16px 0px 8px 0px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.note--bloques-js {
    visibility: hidden;

    font-size: 13px;
    font-weight: normal;
    text-align: left;
    color: #000000;
    opacity: .4;

    margin: 4px 0px 20px 0px;

    &.visible {
        visibility: visible;
    }
}

/* Resumen participación */
//Veremos si se reutiliza en ambas
.election-props {
    display: flex;
    justify-content: space-between;
    > div {width: 48.5%;}
    &__title {
        font-size: 15px;
        letter-spacing: .13px;
        margin-bottom: 7px;
        span:first-of-type {
            font-weight: 700;
            margin-right: 16px;
        }
        span:last-of-type {
            font-weight: 400;
            color: #a7a7a7;
        }
    }
    &__bar {
        width: 100%;
        height: 7px;
        background: #e1e1e1;
        border-radius: 2px;
    }
    &__value {
        height: 7px;
        border-radius: 2px;
        width: 0%;
        background: #0e0e0e;
        transition: width .6s;
    }
}

.only-desktop {
    .filters {
        width: 100%;
        margin-bottom: 16px;
    }
}

.only-mobile {
    display: none;
}

////// 
// ESTILOS TOOLTIP > Cambiar
//////
.madrid-tooltip {
    font-family: 'Roboto'; 
	position: absolute;
    top: 40px;
    left: 10px;

    display: none;

    box-sizing: border-box;

    width: 213px;                 
    height: auto;                   
    padding: 8px;
    background: #f5f5f5;

    //General - Textos
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    color: #000000;

    //Elementos CSS para municipios
    .widget__title {
        padding-bottom: 8px;
        border-bottom: .5px dotted #000;
        margin-bottom: 8px;

        font-size: 14px;
        font-weight: bold;

        //Lógica de corte
        text-overflow: ellipsis;
        overflow: hidden; 
        width: 100%;
        white-space: nowrap;
    }
    
    .b-fuerzas {
        &__title {
            font-size: 12px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.13px;
            text-align: left;
            color: #000000;
            opacity: .6;

            margin-bottom: 8px;
        }
        &__parties {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;

            box-sizing: border-box;

            font-size: 11px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.13px;
            text-align: left;
            color: #000000;

            div {
                width: 50%;
                margin-bottom: 8px;
            }
        }        
    }
    
    .bloques {
        margin-bottom: 8px;
        &__title {
            display: block;
            font-size: 12px;
            font-weight: 500;
            color: #000000;
            opacity: .6;

            margin-bottom: 8px;
        }
        &__items {
            display: flex;
            flex-direction: column;
            .bloque__item {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 4px;
                &:last-of-type {
                    margin-bottom: 0px;
                }
                span:first-of-type {
                    width: 30px;
                    font-size: 12px;
                    color: #000000;
                    margin-right: 4px;
                }
                .bloque__bar {
                    height: 6px;
                    width: 10px;
                    max-width: 135px;
                    border-radius: 2px;
                }
                span:last-of-type {
                    font-size: 12px;
                    color: #000000;
                    margin-left: 4px;
                }
            }
        }
    }

    .participation {
        font-size: 12px;        
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.13px;
        text-align: left;
        color: #000000;
        &__title {
            font-weight: 500;
            opacity: .6;
            margin-right: 8px;
        }
        &__data {
            font-weight: bold;
        }
    }

    //Cierre del tooltip
    #close-tooltip {
        position: absolute;
        top: 1.5px;
        right: 1.5px;

        font-size: 20px;
        line-height: 0.5;

        cursor: pointer;
    }    
}

///// Reducción del tamaño de los botones superiores
@media only screen and (max-width: 575px) {
    .btn--position {width: 24%;}
    .note--bloques-js {font-size: 12px;}
}

///// Corte en media query: de mapa a tabla
@media only screen and (max-width: 525px){
    .widget {padding: 8px 8px 14px;}
    .title {
        &::after {width: 40px;}
    }
    .autocomplete {
        background: url(https://www.ecestaticos.com/file/834ce689c803cfe259efaffe7623c77a/1613122512-icono-lupa.svg)no-repeat 9px 12px;
        input {
            height: 42px; 
            padding: 8px 0 8px 50px;     
        }
    }
    .mobile-info {margin-top: 24px;}
    .search {
        margin-bottom: 7px;
        &__label {
            font-weight: 500;
            font-size: 15px;
        }
        &__result {font-weight: 900;}
    }
    .winner {
        padding: 16px 0;
        text-align: center;
        border-top: 1px dotted rgba(0,0,0,.4);
        border-bottom: 1px dotted rgba(0,0,0,.4);
        margin-bottom: 16px;
        &__label {
            font-weight: 400;
            font-size: 15px;
            letter-spacing: .13px;
        }
    }
    .label {
        &--derecha {
            font-weight: 900;
            color: $light-color;
            background: #3c4554;
        }
        &--izquierda {
            font-weight: 900;
            color: $dark-color;
            background: #fbdd49;
        }
        &--equal {
            font-weight: 900;
            color: $dark-color;
            background: #d7d7d7;
        }
    }
    .table {
        &__row {
            display: flex;
            justify-content: space-between;
            &--content {
                padding: 8px 0;
                border-bottom: 1px solid #efefef;
                width: 100%;
            }
            &--disabled {opacity: .4}
        }
        &__header {
            padding-bottom: 5px;
            border-bottom: 1px dotted #efefef;
        }
        &__column {
            &:nth-child(1) {width: 32.5%;}
            &:nth-child(2) {width: 27.5%;}
            &:nth-child(3), &:nth-child(4) {width: 20%}
        }
        &__heading {
            font-weight: 700;
            font-size: 15px;
            color: #1c1c1c;
            text-align: center;
        }
        &__wrapper {overflow: hidden;}
        &__content {
            display: flex;
            flex-direction: column;
            height: 305px;
            flex-wrap: wrap;
            transition: transform .6s;
            .table__column {
                &:nth-child(2), &:nth-child(3) {text-align: center;}
                &:nth-child(4) {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    &.table__column--center {justify-content: center;}
                }
            }
        }
        &__party {
            font-weight: 500;
            font-size: 14px;
            letter-spacing: .13px;
            color: #4a4a4a;
            padding-left: 17px;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 11px;
                height: 11px;
                border-radius: 50%;
                background: #575757;
            }
            &--mas-madrid {
                &::before {background: #20c0b2;}
            }
            &--vox {
                &::before {background: #77BE2D;}
            }
            &--psoe {
                &::before {background: #F60B01;}
            }
            &--cs {
                &::before {background: #f45a09;}
            }
            &--podemos {
                &::before {background: #692772;}
            }
            &--pp {
                &::before {background: #48AAFD;}
            }
            &--recortes {
                &::before {background: #575757;}
            }
        }
        &__value {
            font-weight: 400;
            font-size: 14px;
            letter-spacing: .16px;
            color: #4a4a4a;
            &--dif {color: #aeaeae;}
        }
        &__icon {margin-left: 4px;}
    }
    .controls {
        margin-top: 16px;
        &__row {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    .arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border-radius: 2px;
        background: #121212;
        transition: background .6s;
        &--disabled {background: rgba(#121212,.3);}
    }
    .dots {display: flex;}
    .dot {
        margin: 0 4px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: #c4c4c4;
        transition: background .6s;
        &--active {background: $dark-color;}
    }
    .section {
        &__title {margin-top: 24px;}
    }
    .election-props {
        flex-direction: column;
        > div {width: 100%;}
        &__escrutinio {margin-bottom: 16px;}
        &__title {
            span:first-of-type {margin-right: 0;}
            > span:first-of-type {margin-right: 11px;}
        }
    }
    .only-desktop {display: none;}
    .only-mobile {display: block;}
}